*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/
dist/
out/

# Go 缓存
/obj/
/go-build/
/testdata/

# Go 模块
vendor/
go.work.sum

# 测试覆盖率
coverage.out
coverage.txt
profile.out

# python uv
.venv/
venv/
.uv/

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/
env.bak/
venv.bak/


# Python 测试/临时文件
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


config/config.yaml
config/*.yaml
!config/config.example.yaml
!config/config.template.yaml

# 环境变量
.env
.env.*
!.env.example


.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.log
logs/
*.tmp
*.temp
*.bakluner
luner.exe
bin/
go.mod.bak
*.bak
